-- vim: ft=sql
\c template1
CREATE EXTENSION IF NOT EXISTS hstore;

CREATE USER pretalx PASSWORD '{{ devday_pretalx_db_password }}';
CREATE DATABASE pretalx ENCODING 'UTF-8' TEMPLATE 'template1';
GRANT CREATE, CONNECT ON DATABASE pretalx TO pretalx;

\c pretalx
GRANT CREATE, USAGE ON SCHEMA public TO pretalx;
