MAILBOT_IMAP_HOST={{ devday_mailbot_imap_host }}
MAILBOT_IMAP_PASSWORD={{ devday_mailbot_imap_password }}
MAILBOT_IMAP_PORT={{ devday_mailbot_imap_port }}
MAILBOT_IMAP_USER={{ devday_mailbot_imap_user }}
MAILBOT_LOG_LEVEL={{ devday_mailbot_log_level }}
MAILBOT_SENDER_ADDRESS={{ devday_mailbot_sender_address }}
MAILBOT_SMTP_HOST={{ devday_mailbot_smtp_host }}
MAILBOT_SMTP_PASSWORD={{ devday_mailbot_smtp_password }}
MAILBOT_SMTP_PORT={{ devday_mailbot_smtp_port }}
MAILBOT_SMTP_USER={{ devday_mailbot_smtp_user }}
MAILBOT_VALID_SENDER_PATTERNS={{ devday_mailbot_valid_sender_patterns }}
MAILBOT_DEFAULT_TO={{ devday_mailbot_default_to }}
MAILBOT_DEFAULT_REPLY_TO={{ devday_mailbot_default_reply_to }}
MAILBOT_ADDRESS_SOURCE={{ devday_mailbot_address_source }}